/.DS_Store
/.tmp.drivedownload
/.tmp.driveupload
/.vscode

main.aux
main.fdb_latexmk
main.fls
main.loe
main.log
main.out
main.synctex.gz
main.toc

1230 HW/.DS_Store
1230 HW/HW6/.DS_Store
1230 HW/HW5/.DS_Store

1230 HW/HW*/123-hw*.aux
1230 HW/HW*/123-hw*.fdb_latexmk
1230 HW/HW*/123-hw*.fls
1230 HW/HW*/123-hw*.loe
1230 HW/HW*/123-hw*.log
1230 HW/HW*/123-hw*.out
1230 HW/HW*/123-hw*.synctex.gz
1230 HW/HW*/123-hw*.toc
1230 HW/HW*/.DS_Store

1230 HW/Project/*.aux
1230 HW/Project/*.fdb_latexmk
1230 HW/Project/*.fls
1230 HW/Project/*.loe
1230 HW/Project/*.log
1230 HW/Project/*.out
1230 HW/Project/*.synctex.gz
1230 HW/Project/*.toc
1230 HW/Project/.DS_Store

